body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
}

a {
  font-weight: bold;
}
p {
  line-height: 1.5;
  font-size: x-small;
  font-weight: 500;
  color: gray;
}
h3 {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: bolder;
  margin: 0.75rem 0;
}
h4 {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: bolder;
  margin: 0.75rem 0;
}
h5 {
  font-size: 0.825rem;
  font-weight: bold;
  margin: 0.75rem 0;
}
h6 {
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0.75rem 0;
}
.block {
  background-color: white;
  width: 30%;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 1px 1px 31px #bebebe;
  border-radius: 2px;
}

.block img {
  width: 100%;
  opacity: 0.5;
  transition: all 0.5s;
}
.group-text {
  padding: 20px;
}

.block img:hover {
  opacity: 1;
}

.logo {
  object-fit: cover;
  height: 1.25rem;
}

.landrick-header {
  margin: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .landrick-header {
    margin: 2rem;
  }
}

button,
.button {
  border-radius: 0.25rem;
  background: #2f55d2 !important;
  color: white !important;
  border: none;
  padding: 0.5rem;
  font-size: x-small;
  font-weight: 600;
}

.message {
  margin-top: 2rem;
  text-align: center;
}

.welcome {
  width: 20rem;
  margin: auto;
}

.card-head {
  text-align: center;
  margin-bottom: 2rem;
}

.products {
  padding: 2rem 4rem;
  display: grid;
  grid-gap: 2.5rem;
}

@media (min-width: 600px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
.card-footer {
  padding: 0 1rem;
}
.news {
  padding: 2rem 4rem;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 600px) {
  .news {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .news {
    grid-template-columns: repeat(3, 1fr);
  }
}
.news-card {
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.product-card-image {
  border-radius: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.news-card-image {
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.news-card-footer {
  padding: 1rem;
}
.news-link {
  font-weight: normal;
  color: grey;
  font-size: x-small;
  text-decoration: none;
}

@media (min-width: 600px) {
  .container {
    margin: 0;
  }
}

@media (min-width: 900px) {
  .container {
    margin: 0 20%;
  }
}
